﻿@page "/contact"

<h1>Contact</h1>

<p>Bij vragen, neem gerust contact met ons op!</p>

<p>Dat kan per mail: @email<br />of telefonisch: <a href="tel://+3250960332">+32 50 96 03 32</a></p>

<h2>Bedrijfsgegevens</h2>
<p>Adres:<br />Marechalstraat 30<br />8020 OOSTKAMP<br />Belgi&euml;</p>
<p>BTW-nummer: BE 0717.695.773</p>
<p>Bankgegevens:<br />IBAN: BE25 1431 1172 2782<br />BIC: GEBABEBB<br />Bank: Fintro, BNP Paribas Fortis groep</p>

@code {
    private string email = "info@dewsystems.be";
} 