﻿@page "/"

<h1>DEW Systems: Jouw partner bij alle computeraangelegenheden</h1>

<p>Dit jong en dynamisch IT-bedrijf biedt je IT-consultancy op maat. Hierbij staan enkele waarden centraal: innovatie en integratie, service is alles en al doende leert men. Deze waarden resulteren in een bedrijf dat zich richt op de nieuwste technologieën en deze gaat integreren om jouw ervaring zo veel beter te maken. Bij heel wat taken maakt DEW Systems gebruik van jobstudenten die een IT-gerichte opleiding volgen, want: al doende leert men.</p>

<p><a href="over-ons"><span class="oi oi-arrow-right" aria-hidden="true"></span> Lees meer</a></p>

<h2>Onze diensten</h2>
<p>DEW Systems biedt een verscheidenheid aan diensten, waarvan de meeste gecentreerd rond software, de ontwikkeling van software en het opleveren ervan. Maar ook gewoon systeembeheer en ondersteuning horen bij het pakket.</p>
<p><span class="oi oi-code" aria-hidden="true"></span>E&eacute;n van de belangrijkste diensten die DEW Systems levert, is softwareontwikkeling. Integratie en koppelen van systemen, bug-fixes aan bestaande software of de ontwikkeling van een gloednieuw platform. Alles kan!</p>
<p><span class="oi oi-cloud" aria-hidden="true"></span>Ook cloudtoepassingen zijn ons niet vreemd. AWS, Azure, Linode en DigitalOcean, voor ieder wat wils. Ook leveren we Microsoft 365 en beheren we je tenant met liefde.</p>

<p><a href="contact"><span class="oi oi-phone" aria-hidden="true"></span> Bespreek meteen de mogelijkheden!</a></p>

<h2>Ondersteuning en systeembeheer</h2>
<p>Heb je een probleem met je PC, laptop, tablet, of ander apparaat? Aarzel niet om het ons voor te leggen. We bieden je zo snel mogelijk een oplossing. M&eacute;m optie voor een servicecontract! Prijzen en voorwaarden op aanvraag.</p>
<p>Ook bij het beheer van servers, een klein tot middelgroot netwerk of voor de installaties van PC's, laptops of andere (netwerk)apparatur kan je bij DEW Systems terecht. Alles voor dezelfde kwaliteit en dezelfde service.</p>

<p><a href="prijzen"><span class="oi oi-euro" aria-hidden="true"></span> Bekijk de prijzen van onze diensten en veelverkochte software</a></p>