﻿<footer class="footer">
    <div class="row px-3">
        <p>&copy; @DateTime.Now.Year - DEW System - Alle rechten voorbehouden</p>
        <p class="text-muted">
            <a href="algemene-voorwaarden.pdf"><span class="oi oi-file" aria-hidden="true"></span>Algemene voorwaarden</a>
        </p>
    </div>
</footer>